@import "tailwindcss";

/* Dark Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}